# App Settings
APP_NAME=VOC_Python_Rebuild
DEBUG=True

# SQL Server 連線字串 (開發環境可更換為本機端連線)
# 請依據原先 MTLibrary 裡頭設定的角度填寫正確的機器 IP 與驗證機制
DB_VOC_URL=mssql+pyodbc://user:pass@localhost/VOC?driver=ODBC+Driver+17+for+SQL+Server
DB_SIGNFLOW_URL=mssql+pyodbc://user:pass@localhost/SignFlow?driver=ODBC+Driver+17+for+SQL+Server
DB_UTIDB_URL=mssql+pyodbc://user:pass@localhost/UTIDB?driver=ODBC+Driver+17+for+SQL+Server

# Oracle 連線 (CIM DB - 已依照 Web.config 提供)
DB_CIM_URL=oracle+oracledb://fac-cim:faccim@10.10.22.192:1521/?service_name=facpdb

# LDAP 伺服器
LDAP_SERVER=ldap://KH
